<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>A Review</title>
</head>
<body>
	<div th:each="review:${reviews}">
		<h2 th:text="${review.title} + ' - ' + ${review.description}"></h2>
		<p th:text=" 'Date: '+ ${#dates.format(review.dateOfReview, 'dd-MMM-yyyy')}">22-May-2018</p>
		<main><strong th:text="${review.content}"></strong></main>
		<br><img id = "images" th:src="@{${review.imageUrl}}"/><br/>
		<a href="http://localhost:8080/show-reviews">Back to home</a>

	</div>
</body>
</html>